.contacts {
  @media (min-width: $desktop-width) {
    background-color: $grey;
  }
}

.contacts__container {
  @media (min-width: $desktop-width) {
    position: relative;
    width: 1440px;
    margin: 0 auto;
  }
}

.contacts__wrapper {
  display: flex;
  justify-content: space-between;
  padding-top: 26px;
  padding-bottom: 26px;

  @media (min-width: $tablet-width) {
    padding: 56px 70px;
  }

  @media (min-width: $desktop-width) {
    position: absolute;
    z-index: 2;
    top: 95px;
    left: 110px;
    padding: 56px 60px 56px 80px;
    width: 565px;
    background-color: $white;
  }
}

.contacts__title {
  margin: 0;
  padding: 0;
  width: 139px;
  font-family: "Oswald";
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: $black;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 26px;
    width: 171px;
  }
}

.contacts__address {
  width: 139px;

  @media (min-width: $tablet-width) {
    width: 160px;
  }
}

.contacts__street,
.contacts__city {
  display: block;
  font-family: 'Lato';
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    text-align: end;
  }
}

.contacts__street {
  @media (min-width: $tablet-width) {
    display: block;
    margin-bottom: 10px;
  }
}

.contacts--inner {
  background-color: $grey;

  @media (min-width: $desktop-width) {
    background-color: $white;
  }
}

.contacts__picture {
  object-fit: cover;
  width: 100%;
  min-width: 320px;
  display: block;
}
